.controls-container {
  padding: 24px;
  padding-bottom: 0;
  text-align: center;
}
.animation-button {
  margin: 8px !important;
}

.slider-box {
  margin-top: 40px;
}

.buttons-container {
  min-height: 100px;
}
.select-skeleton {
  margin-bottom: 24px;
}
